
.clean {}

/** Frame Style */
.frame-grayDialog {
	border: 10px solid #f1f1f1;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	background-color: white;
	position: relative
}

.frame_dialogBoxClean {
	
}

/** Font Style */
.font-whiteBigHeader {
	font-family: "jaf-facitweb", "Helvetica Neue", Arial, sans-serif;
	color: white;
	font-size: 2.5em;
	font-weight: bold;
}

.font-whiteNormalHeader {
	font-size: 20px;
	font-family: "jaf-facitweb", "Helvetica Neue", Arial, sans-serif;
	color: white;
	font-weight: 300;
}

.font-blackNormalHeader {
	font-size: 22px;
	font-weight: 700;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.font-blackTitle {
	font-weight: 700;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.font-blackTitleNormal {
	font-weight: 700;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.font-whiteTitle {
	font-weight: 700;
	font-size: 16px;
	color: #f6f6f6;
}

.font-grayTitle {
	font-weight: 400;
	font-size: 16px;
	color: #8c8c8c;
}

/** Button Style */
.button-greenStyle {
	position: relative;
	display: block;
	background: #48b512;
	background: -webkit-linear-gradient(top, #48b512 0, #3d990f 100%);
	background: linear-gradient(to bottom, #48b512 0, #3d990f 100%);
	box-shadow: 0 1px 0 #4d4d4d;
	color: #fff;
	margin: auto;
	border-radius: 3px;
	cursor: pointer;
	border-radius: 3px;
}

.button-greenStyle:hover {
	background: #3A910E;
}

.button-redStyle {
	position: relative;
	display: block;
	background: #c02c2c;
	background: -webkit-linear-gradient(top, #48b512 0, #3d990f 100%);
	background: linear-gradient(to bottom, #48b512 0, #3d990f 100%);
	box-shadow: 0 1px 0 #4d4d4d;
	color: #fff;
	margin: auto;
	border-radius: 3px;
	cursor: pointer;
	padding: 4px;
}

.button-redStyle:HOVER {
	background: #c02c2c;
}

.button-whiteStyle {
	position: relative;
	display: block;
	background: #fff;
	background: -webkit-linear-gradient(top, #fff 0, #f5f5f5 100%);
	background: linear-gradient(to bottom, #fff 0, #f5f5f5 100%);
	border: 1px solid #e3e3e3;
	border-bottom-color: #c2c2c2;
	border-radius: 3px;
	cursor: pointer;
	font-weight: 700;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.button-whiteStyle:hover {
	background: #0e74af;
	color: white;
}

.button-blueMenu {
	border-radius: 3px;
	background: rgba(255, 255, 255, .3);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, .3) 0,
		rgba(255, 255, 255, .2) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, .3) 0,
		rgba(255, 255, 255, .2) 100%);
	cursor: pointer;
}

.button-boxWhite {
	background: white;
	border-radius: 3px;
	cursor: pointer;
}

.button-boxWhite:hover {
	background: #E6E6E6;
}

.button-boxBlue {
	background-color: #0E74AF;
	border-radius: 3px;
	cursor: pointer;
}

.button-boxBlue:hover {
	background-color: #0D689E;
}

.button-link {
	cursor: pointer;
	font-weight: bold;
}

/** Textbox Style */
.textbox-normalEdit {
	text-indent: 4px;
	padding-top: 4px;
	border-radius: 3px;
	border: 1px solid silver;
}

/** Background Style */
.background-softBlue {
	background: #0e74af;
}

.background-softGray {
	background-color: #f0f0f0;
}

/**css for table*/
.grid-TaskStatus {
	text-align: center;
}

/** Overriding gwt-Tabbar */
.gwt-TabBar {
	background: #f0f0f0 !important;;
	padding-left: 40%;
}

.gwt-TabBarItem {
	width: 100px;
	height: 30px;
	line-height: 30px;
	margin-left: 15px !important;
}

.gwt-TabPanelBottom {
	border-style: none !important;
}