<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- StartUp Servlets -->
	<servlet>
		<servlet-name>RegisterObject</servlet-name>
		<servlet-class>com.softlink.minilib.server.register.Register</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<!-- Filter -->
	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>MiniTask-UserRequestService</servlet-name>
		<servlet-class>com.softlink.minitask.server.UserRequestService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MiniTask-UserRequestService</servlet-name>
		<url-pattern>/script/user_request</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SystemService</servlet-name>
		<servlet-class>com.softlink.minilib.server.SystemServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemService</servlet-name>
		<url-pattern>/system</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>MiniTask.html</welcome-file>
	</welcome-file-list>
	
</web-app>